.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

.outletContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #FCF8E9;
  flex-grow: 1;
}

.outlet {
  width: 100%;
  flex-wrap: wrap;
}
