.headerContainer {
  position: sticky;
  z-index: 10;
  top: 0;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: var(--header-bg-light);
  height: auto;
  padding: 1rem;
  gap: 1rem;
}

.langSwitcherContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 1rem;
}

/* Tablet */
@media screen and (min-width: 600px) {
  .header {
    flex-direction: row;
    height: 7rem;
    padding: 0 1.5rem;
  }

  .menuContainer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 19fr;
    height: 9rem;
    padding: 0;
  }

  .langSwitcherContainer {
    justify-content: center;
    padding-left: 2rem;
  }

  .menuContainer {
    justify-content: space-between;
    padding: 0 2rem;
    flex-direction: row;
  }
}
