.header {
  display: grid;
  grid-template-columns: 1fr 19fr;
  background-color: var(--header-bg-light);
  height: 9rem;
  position: sticky;
  z-index: 10;
  top: 0;
}

.langSwitcherContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
