.headerContainer {
  position: sticky;
  z-index: 10;
  top: 0;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-bg-light);
}

.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}

.langSwitcherContainer {
  position: absolute;
  top: 3rem;
  left: 2rem;
  z-index: 20;
}
