.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-bg-light);
  height: 10rem;
  padding: 2rem 0;
  position: sticky;
  z-index: 10;
  top: 0;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.langSwitcherContainer {
  position: absolute;
  top: 4rem;
  left: 2rem;
  z-index: 20;
}
