.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-bg-light);
  min-height: 4rem;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.langSwitcherContainer {
  position: absolute;
  top: 2rem;
  left: 0;
  z-index: 10;
}
