.langContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.langContainer select {
  background-color: transparent;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  box-shadow: none;
}

.langContainer select:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
