.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 1;
  background-color: var(--header-bg-light);
  display: grid;
  grid-template-columns: 20fr 1fr;
  border-radius: 0 18px 18px 0;
  overflow: hidden;
  flex-shrink: 0;
  padding-top: 12rem;
}

.open {
  width: 300px;
}

.closed {
  width: 30px;
}

.toggleBtn {
  background-color: var(--header-bg-light);
  border: none;
  cursor: pointer;
  color: #78a18a;
  padding: 8px;
  z-index: 100;
}

.content {
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 2rem 0 2rem 2rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
}

.content::-webkit-scrollbar {
  display: none;
}

/* Tablet */
@media screen and (min-width: 600px) {
  .sidebar {
    position: sticky;
    padding-top: 0;
  }
}
