.footerContainer {
  background-color: #004b23;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: whitesmoke;
  padding: 2rem 0;
}

.footerTop {
  text-align: center;
}

.footerTop img  {
  padding: 12px 0;
  width: 100px;
}

.footerBottom {
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid whitesmoke;
  padding-top: 15px;
  text-align: center;
}


/* Tablet & Desktop */
@media screen and (min-width: 600px) {
  .footerTop img  {
    width: 200px;
  }
}
